.event_main
    @media screen and (max-width: $layout-breakpoint-small)
        padding: 0
    .title_container
        //padding: 0 30px
        p
            top: 20%
            font-size: calc(15px + 2.5vw)
            @media screen and (max-width: $test)
                font-size: calc(15px + 5vw)
        h1
            top: 58%
            font-size: calc(15px + 4vw)
            @media screen and (max-width: $layout-breakpoint-tablet-max) and (min-width: $layout-breakpoint-tablet-min)
                font-size: calc(15px + 3.4vw)
            @media screen and (max-width: $test)
                font-size: calc(15px + 8vw)
    .video
        &_container
            display: flex
            justify-content: center
            aspect-ratio: 16/9
            width: 70%
            margin-inline: auto
            @media screen and (max-width: $layout-breakpoint-tablet-max) and (min-width: $layout-breakpoint-tablet-min)
                width: 90%
            @media screen and (max-width: $layout-breakpoint-small)
                width: 100%
                margin: 0
                padding: 0 10px
                border-radius: 10px
    .text
        &_container
            @media screen and (max-width: $layout-breakpoint-small)
              padding: 0 15px
