.offers
    // background-color: #fff
    .title_container
        p
            top: 20%
            font-size: calc(15px + 2.5vw)
            @media screen and (max-width: $test)
                font-size: calc(15px + 5vw)
        h1
            top: 62%
            font-size: calc(15px + 5vw)
            @media screen and (max-width: $layout-breakpoint-tablet-max) and (min-width: $layout-breakpoint-tablet-min)
                font-size: calc(15px + 3.4vw)
            @media screen and (max-width: $test)
                font-size: calc(15px + 11.7vw)
    &_dropin
        &_container
            width: 100%
            display: flex
            text-align: center
            justify-content: center
            align-items: center
            flex-direction: column
            font-weight: bold
            margin-top: 30px
        &_title
            display: flex
        &_link
            display: flex
            background-color: (light-dark(#b3b3b3, $background-light))
            width: 200px
            border-radius: 150px
            img
                width: 100%
